---
http_interactions:
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>xml-access-key</AccessLicenseNumber>
          <UserId>auntjudy</UserId>
          <Password>secret</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <RequestOption>Shop</RequestOption>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Address>
                <City>Beverly Hills</City>
                <StateProvinceCode>CA</StateProvinceCode>
                <PostalCode>90210</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </Shipper>
            <ShipTo>
              <Address>
                <City>Seattle</City>
                <StateProvinceCode>WA</StateProvinceCode>
                <PostalCode>98101</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </ShipTo>
          </Shipment>
        </RatingServiceSelectionRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RatingServiceSelectionResponse><Response><ResponseStatusCode>0</ResponseStatusCode><ResponseStatusDescription>Failure</ResponseStatusDescription><Error><ErrorSeverity>Hard</ErrorSeverity><ErrorCode>250003</ErrorCode><ErrorDescription>Invalid Access License number</ErrorDescription></Error></Response></RatingServiceSelectionResponse>
  recorded_at: Tue, 08 Nov 2016 22:29:05 GMT
[...]
