---
http_interactions:
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>UPS_KEY</AccessLicenseNumber>
          <UserId>UPS_LOGIN</UserId>
          <Password>UPS_PASSWORD</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <RequestOption>Shop</RequestOption>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Address>
                <PostalCode>1234</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </Shipper>
            <ShipTo>
              <Address>
                <PostalCode>98122</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </ShipTo>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>12.0</Length>
                <Width>12.0</Width>
                <Height>12.0</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>3.0</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
          </Shipment>
        </RatingServiceSelectionRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>03</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>11.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>20.41</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>20.41</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery/><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>20.41</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>20.41</MonetaryValue></TotalCharges><Weight>3.0</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>11.0</Weight></BillingWeight></RatedPackage></RatedShipment><RatedShipment><Service><Code>12</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>11.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>56.99</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>56.99</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery>3</GuaranteedDaysToDelivery><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>56.99</MonetaryValue></TransportationCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>56.99</MonetaryValue></TotalCharges><Weight>3.0</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>11.0</Weig[...]
- request:
    method: get
    uri: http://production.shippingapis.com/ShippingAPI.dll?API=RateV4&XML=%3C?xml%20version=%221.0%22?%3E%0A%3CRateV4Request%20USERID=%22USPS_LOGIN%22%3E%0A%20%20%3CPackage%20ID=%220%22%3E%0A%20%20%20%20%3CService%3EALL%3C/Service%3E%0A%20%20%20%20%3CFirstClassMailType/%3E%0A%20%20%20%20%3CZipOrigination%3E1234%3C/ZipOrigination%3E%0A%20%20%20%20%3CZipDestination%3E98122%3C/ZipDestination%3E%0A%20%20%20%20%3CPounds%3E0%3C/Pounds%3E%0A%20%20%20%20%3COunces%3E48.0%3C/Ounces%3E%0A%20%20%20%20%3CContainer/%3E%0A%20%20%20%20%3CSize%3EREGULAR%3C/Size%3E%0A%20%20%20%20%3CWidth%3E12.00%3C/Width%3E%0A%20%20%20%20%3CLength%3E12.00%3C/Length%3E%0A%20%20%20%20%3CHeight%3E12.00%3C/Height%3E%0A%20%20%20%20%3CGirth%3E48.00%3C/Girth%3E%0A%20%20%20%20%3CMachinable%3ETRUE%3C/Machinable%3E%0A%20%20%3C/Package%3E%0A%3C/RateV4Request%3E%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Client-Ip:
      - 56.0.70.6
      X-Global-Transaction-Id:
      - '3602097231'
      Cteonnt-Length:
      - '291'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateV4Response><Package ID="0"><Error><Number>-2147219498</Number><Source>RateEngineV4;RateV4.ProcessRequest</Source><Description>Please enter a valid ZIP Code for the sender.  </Description><HelpFile/><HelpContext/></Error></Package></RateV4Response>
  recorded_at: Thu, 10 Nov 2016 00:14:34 GMT
[...]
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><RateRequest xmlns="http://fedex.com/ws/rate/v13">  <WebAuthenticationDetail>    <UserCredential>      <Key>FEDEX_KEY</Key>      <Password>FEDEX_PASSWORD</Password>    </UserCredential>  </WebAuthenticationDetail>  <ClientDetail>    <AccountNumber>FEDEX_ACCOUNT</AccountNumber>    <MeterNumber>FEDEX_LOGIN</MeterNumber>  </ClientDetail>  <TransactionDetail>    <CustomerTransactionId>ActiveShipping</CustomerTransactionId>  </TransactionDetail>  <Version>    <ServiceId>crs</ServiceId>    <Major>13</Major>    <Intermediate>0</Intermediate>    <Minor>0</Minor>  </Version>  <ReturnTransitAndCommit>true</ReturnTransitAndCommit>  <VariableOptions>SATURDAY_DELIVERY</VariableOptions>  <RequestedShipment>    <ShipTimestamp>2016-11-09T16:14:35-08:00</ShipTimestamp>    <DropoffType>REGULAR_PICKUP</DropoffType>    <PackagingType>YOUR_PACKAGING</PackagingType>    <Shipper>      <Address>        <PostalCode>98122</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Shipper>    <Recipient>      <Address>        <PostalCode>9812</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Recipient>    <SmartPostDetail>      <Indicia>PARCEL_SELECT</Indicia>      <HubId>5902</HubId>    </SmartPostDetail>    <RateRequestTypes>ACCOUNT</RateRequestTypes>    <PackageCount>1</PackageCount>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>LB</Units>        <Value>71.0</Value>      </Weight>      <Dimensions>        <Length>12</Length>        <Width>12</Width>        <Height>12</Height>        <Units>IN</Units>      </Dimensions>    </RequestedPackageLineItems>  </RequestedShipment></RateRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wily-Servlet:
      - Encrypt1 GaMcoOotgOSMyoYj73M4djxB/BFdu6Bd7dK9l2vKcsLoBxuCEbM12kwUffT0WqzWwhNfXxOuv1xkOK5NUzCbP46u7vtBQL8InqrXYgHsCoR6RU11Zne5eRfVnPz2s4QorsTJGp6CmyYymgSUI+wxBxsf5OU5gsdEA72cMkRv/fgqELt9eafqj4Lrwr4CAfmKraE28AJvbqJTb+A/db2E4A==
      X-Wily-Info:
      - Clear guid=4B961450CC87128E0E0147CFB033F9DD
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateReply xmlns="http://fedex.com/ws/rate/v13" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><HighestSeverity>WARNING</HighestSeverity><Notifications><Severity>WARNING</Severity><Source>crs</Source><Code>556</Code><Message>There are no valid services available. </Message><LocalizedMessage>There are no valid services available. </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>929</Code><Message>The service option type SATURDAY_DELIVERY was ignored because it was incompatible with the original request.</Message><LocalizedMessage>The service option type SATURDAY_DELIVERY was ignored because it was incompatible with the original request.</LocalizedMessage><MessageParameters><Id>SERVICE_OPTION_TYPE</Id><Value>SATURDAY_DELIVERY</Value></MessageParameters></Notifications><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>13</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version></RateReply>
  recorded_at: Thu, 10 Nov 2016 00:14:35 GMT
[...]
