---
http_interactions:
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>UPS_KEY</AccessLicenseNumber>
          <UserId>UPS_LOGIN</UserId>
          <Password>UPS_PASSWORD</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <RequestOption>Shop</RequestOption>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Address>
                <PostalCode>98122</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </Shipper>
            <ShipTo>
              <Address>
                <PostalCode>98122</PostalCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator>true</ResidentialAddressIndicator>
              </Address>
            </ShipTo>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>12.0</Length>
                <Width>12.0</Width>
                <Height>12.0</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>151.0</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
          </Shipment>
        </RatingServiceSelectionRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RatingServiceSelectionResponse><Response><ResponseStatusCode>0</ResponseStatusCode><ResponseStatusDescription>Failure</ResponseStatusDescription><Error><ErrorSeverity>Hard</ErrorSeverity><ErrorCode>111035</ErrorCode><ErrorDescription>The maximum per package weight for the selected service from the selected country is 150.00 pounds.</ErrorDescription></Error></Response></RatingServiceSelectionResponse>
  recorded_at: Thu, 10 Nov 2016 00:03:06 GMT
[...]
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><RateRequest xmlns="http://fedex.com/ws/rate/v13">  <WebAuthenticationDetail>    <UserCredential>      <Key>FEDEX_KEY</Key>      <Password>FEDEX_PASSWORD</Password>    </UserCredential>  </WebAuthenticationDetail>  <ClientDetail>    <AccountNumber>FEDEX_ACCOUNT</AccountNumber>    <MeterNumber>FEDEX_LOGIN</MeterNumber>  </ClientDetail>  <TransactionDetail>    <CustomerTransactionId>ActiveShipping</CustomerTransactionId>  </TransactionDetail>  <Version>    <ServiceId>crs</ServiceId>    <Major>13</Major>    <Intermediate>0</Intermediate>    <Minor>0</Minor>  </Version>  <ReturnTransitAndCommit>true</ReturnTransitAndCommit>  <VariableOptions>SATURDAY_DELIVERY</VariableOptions>  <RequestedShipment>    <ShipTimestamp>2016-11-09T16:08:48-08:00</ShipTimestamp>    <DropoffType>REGULAR_PICKUP</DropoffType>    <PackagingType>YOUR_PACKAGING</PackagingType>    <Shipper>      <Address>        <PostalCode>98122</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Shipper>    <Recipient>      <Address>        <PostalCode>98122</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Recipient>    <SmartPostDetail>      <Indicia>PARCEL_SELECT</Indicia>      <HubId>5902</HubId>    </SmartPostDetail>    <RateRequestTypes>ACCOUNT</RateRequestTypes>    <PackageCount>1</PackageCount>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>LB</Units>        <Value>71.0</Value>      </Weight>      <Dimensions>        <Length>12</Length>        <Width>12</Width>        <Height>12</Height>        <Units>IN</Units>      </Dimensions>    </RequestedPackageLineItems>  </RequestedShipment></RateRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wily-Servlet:
      - Encrypt1 GaMcoOotgOSMyoYj73M4dsxJg8pg+egXqWxT0tlCBMozxB2FJoHW86iPptGsWeEMNrrhgg+c1uCrVTL453EE8LUyyZJ0ssHZDmgz/H0Xk331Sy1KEH2kUmXY7Mq3Tf+CfqilOfvoO24JUs7Z6duDQzBDbr7hudkRV1vidonsMbUUBeIoWx/fKXVWWqtcEvhXJp/v93hA5q3ggWAPtS8Bww==
      X-Wily-Info:
      - Clear guid=4B90C973CC87128A0C4E7BFCC07D21F1
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateReply xmlns="http://fedex.com/ws/rate/v13" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>819</Code><Message>The origin state/province code has been changed.  </Message><LocalizedMessage>The origin state/province code has been changed.  </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>820</Code><Message>The destination state/province code has been changed.  </Message><LocalizedMessage>The destination state/province code has been changed.  </LocalizedMessage></Notifications><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>13</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>LKEA </DeliveryStation><DeliveryDayOfWeek>THU</DeliveryDayOfWeek><DeliveryTimestamp>2016-11-10T08:00:00</DeliveryTimestamp><CommitDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><CommitTimestamp>2016-11-10T08:00:00</CommitTimestamp><DayOfWeek>THU</DayOfWeek><DestinationServiceArea>A1</DestinationServiceArea><BrokerToDestinationDays>0</BrokerToDestinationDays><DocumentContent>NON_DOCUMENTS</DocumentContent></CommitDetails><DestinationAirportId>SEA</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>A1</OriginServiceArea><DestinationServiceArea>A1</DestinationServiceArea><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_PACKAGE</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RateScale>6</RateScale><RateZone>2</RateZone><PricingCode>PACKAGE</PricingCode><RatedWeightMethod>ACTUAL</RatedWeightMethod><DimDivisor>194</DimDivisor><FuelSurchargePercent>0.75</FuelSurchargePercent><TotalBillingWeight><Units>LB</Units><Value>71.0</Value></TotalBillingWeight><TotalBaseCharge><Currency>USD</Currency><Amount>175.62</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>175.62</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>15.49</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>191.11</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>191.11</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalDutiesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesAndTaxes><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>191.11</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential delivery</Description><Amount><Currency>USD</Currency><Amount>3.65</Amount></Amount></Surcharges><Surcharges><SurchargeType>ADDITIONAL_HANDLING</SurchargeType><Description>Additional handling surcharge - weight</Description><Amount><Currency>USD</Currency><Amount>10.5</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>1.34</Amount></Amount></Surcharges></ShipmentRateDetail><RatedPackages><GroupNumber>0</GroupNumber><PackageRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RatedWeightMethod>ACTUAL</RatedWeightMethod><BillingWeight><Units>LB</Units><Value>71.0</Value></BillingWeight><BaseCharge><Currency>USD</Currency><Amount>175.62</Amount></BaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><NetFreight><Currency>USD</Currency><Amount>175.62</Amount></NetFreight><TotalSurcharges><Currency>USD</Currency><Amount>15.49</Amount></TotalSurcharges><NetFedExCharge><Currency>USD</Currency><Amount>191.11</Amount></NetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><NetCharge><Currency>USD</Currency><Amount>191.11</Amount></NetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential delivery</Description><Amount><Currency>USD</Currency><Amount>3.65</Amount></Amount></Surcharges><Surcharges><SurchargeType>ADDITIONAL_HANDLING</SurchargeType><Description>Additional handling surcharge - weight</Description><Amount><Currency>USD</Currency><Amount>10.5</Amount></A[...]
[...]
